<html>
  <head>
    <link rel="stylesheet" href="./style.css" type='text/css' />
  </head>
  <body>
    <% year_months.each do |tweets| %>
      <% float = 'left' %>
      <div class='chapter-header'>
        <h1><%= tweets.first[:created_at].strftime('%B of %Y') %></h1>
      </div>
      <% tweets.sort_by{ |t| t[:created_at] }.each do |tweet| %>
        <% if tweet[:media].count > 1 %>
          <% puts "found tweet with multiple media in #{tweets.first[:created_at].strftime('%B of %Y')}" %>
        <% end %>

        <% if tweet[:media].any? %>
          <div class="tweet-with-image float-<%= float == "left" ? float = "right" : float = "left" %>">
            <% tweet[:media].each do |media_path| %>
              <img class='image' src='<%= media_path %>' />
            <% end %>
            <div class="text">
              <span class="date"><%= tweet[:created_at].strftime('%-m/%-d/%y') %></span> - <%= tweet[:text] %>
            </div>
          </div>
        <% else %>
          <div class="tweet-with-no-image">
            <div class="text">
              <span class="date"><%= tweet[:created_at].strftime('%-m/%-d/%y') %></span> - <%= tweet[:text] %>
            </div>
          </div>
        <% end %>

        <br />
      <% end %>
    <% end %>
  </body>
</html>